<% if Webhook.where(:project_id => @project.id).first%>
<div class="box tabular">
<% Webhook.where(:project_id => @project.id).each do |webhook|%>
<%= form_tag(update_webhook_path(@project, webhook.id), :method => :put, :class => "tabular") do %>
  <p>
    <%= label_tag :url, l(:field_url) %>
    <%= text_field_tag :url, webhook.url, :size => 80 %>
  </p>
  <p>
    <%= label_tag :headers, l(:field_headers) %>
    <%= text_area_tag :headers, webhook.headers, :rows => 5, :cols => 80 %>
  </p>
  <p>
    <%= submit_tag l(:button_update) %> <%= link_to l(:button_delete), delete_webhook_path(@project, webhook.id), :class => "icon icon-del", :method => :delete, :confirm => l(:text_are_you_sure) %>
  </p>
<% end %>


<% end %>
</div>
<% end %>

<%= form_tag(create_webhook_path(@project), :method => :post, :class => "tabular") do %>
<div class="box tabular">
  <p>
    <%= label_tag :headers, l(:field_url) %>
    <%= text_field_tag :url, '', :size => 80 %>
  </p>
  <p>
    <%= label_tag :headers, l(:field_headers) %>
    <%= text_area_tag :headers, '', :rows => 5, :cols => 80 %>
  </p>
  <p>
    <%= submit_tag l(:button_add) %>
  </p>
</span>
</div>
<% end %>
